# Folder Environment (Pakai titik atau tidak, kita sikat semua)
venv/
.venv/
env/
.env

# Folder Sampah Python yang sering muncul sendiri
__pycache__/
*.pyc
Lib/
Scripts/
instance/

# System Files
.DS_Store